asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
Django==4.2.1
django-bootstrap-v5==1.0.11
django-bootstrap3==23.6
django-braces==1.15.0
django-filter==23.5
djangorestframework==3.14.0
idna==3.6
Markdown==3.5.1
misaka==2.1.1
nodeenv==1.8.0
pillow==10.2.0
psycopg==3.1.17
psycopg2==2.9.9
pycparser==2.21
pytz==2023.3.post1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
